* {
  margin: 0;
  padding: 0;
  border-style: none;
}

:root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: small;
  background-color: #000;
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;
  background: url('../images/plano_de_fundo.jpeg') no-repeat center/cover;
}

#container {
  position: relative;
  width: auto;
  height: auto;
}

#bgImage {
  position: absolute;
  filter: blur(2px);
  width: 100%;
  height: auto;
  z-index: -2;
}

#bgImage img {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  z-index: 5;
}

#containerWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  gap: 20px;
}

#containerWelcome img {
  border-radius: 20px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

button {
  width: auto;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  font-size: x-large;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #CDBA8D;
}

button:active {
  box-shadow: 0 2px 5px #000 inset;
}

#btnSite {
  background-color: #fff;
  color: #7D5990;
}

#btnSite img{
  will-change: transform;
  animation: bounce 0.8s infinite alternate;
}

#whatsapp-button img {
  will-change: transform;
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 992px) {
  #content {
    width: 90%;
    height: 100%;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

}